@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Swiss';
    src: url('./fonts/Swiss 721 Condensed Bold/Swiss 721 Condensed Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}